@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #344966;
    --secondary-color: #0d1821;
    --complementary-color: #E6AACE;
    --complementary-color-two: #bfcc94;
    --text-color: #f0f4ef;
    --danger-color: #A40606;
    --border: .1rem solid rgba(0,0,0,.2);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection{
    background-color: var(--primary-color);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;

}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}


body{
    background-color: var(--text-color);
    padding-left: 30rem;
}

body.active{
    padding-left: 0;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn{
    display: block;
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
}

.btn,
.inline-btn{
    background-color: var(--complementary-color);
    color: var(--text-color);
}

.option-btn,
.inline-option-btn{
    background-color: var(--complementary-color-two);
}

.delete-btn,
.inline-delete-btn{
    background-color: var(--danger-color);
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background-color: var(--primary-color);
}

.flex-btn{
    display: flex;
    gap: 1.5rem;
}

.header{
    background-color: var(--secondary-color);
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .flex{
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: bolder;
}

.header .flex .search-form{
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    gap: 2rem;
    padding: 1.5rem 2rem;
    background-color: var(--secondary-color);
}

.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.header .flex .search-form button{
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    background: none;
}

.header .flex .search-form button:hover{
    color: var(--primary-color);
}

.header .flex .icons div{
    font-size: 2rem;
    color: var(--complementary-color);
    border-radius: .5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.5rem;
    background-color: var(--primary-color);
    text-align: center;
    margin-left: .7rem;
}

.header .flex .icons div:hover{
    background-color: var(--text-color);
}

#search-btn{
    display: none;
}

.header .flex .profile{
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--text-color);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    transition: .2s linear;
}

.header .flex .profile.active{
    transform: scale(1);
}

.header .flex .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}

.header .flex .profile h3{
    font-size: 2rem;
    color: var(--primary-color);
}

.header .flex .profile span{
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30rem;
    background-color: #fff;
    border-right: var(--border);
    transition: .2s linear;
    z-index: 1200;
}

.side-bar .close-side-bar{
    text-align: right;
    padding: 2rem;
    padding-bottom: 0;
    display: none;

}

.side-bar .close-side-bar i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.4rem;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--danger-color);
    text-align: center;
    border-radius: .5rem;
}

.side-bar .close-side-bar i:hover{
    background-color: var(--primary-color);
}


.side-bar .profile{
    padding: 3rem 2rem;
    text-align: center;
}

.side-bar .profile .img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}


.side-bar .profile h3{
    font-size: 2rem;
    color: var(--primary-color);
}



.side-bar .profile span{
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.side-bar .navbar{
    margin-top: 1rem;
}

.side-bar .navbar a{
    display: block;
    padding: 2rem;
    margin: .5rem 0;
    font-size: 1.8rem;
}

.side-bar .navbar a i{
    color: var(--primary-color);
    margin-right: 1.5rem;
    transition: .2s linear;
}

.side-bar .navbar a span{
    color: var(--secondary-color);
}

.side-bar .navbar a:hover{
    background-color: var(--complementary-color);
}

.side-bar .navbar a:hover i {
    margin-right: 2.5rem;
}

.side-bar.active{
    left: -31rem;

}


@media (max-width:1200px){

    body{
        padding-left: 0;
    }

    .side-bar{
        transition: .2s linear;
        left: -30rem;
    }

    .side-bar.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);

    }

    .side-bar .close-side-bar{
        display: block;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    #search-btn{
        display: inline-block;
    }

    .header .flex .search-form{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        width: auto;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: #fff;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }
    
    .header .flex .search-form.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }
    
}


@media (max-width:450px){
    html{
        font-size: 50%;
    }
}

